.achievement-container {
    width: 100%;
    margin: 0;
      padding: 0 8.5rem 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, sans-serif;
}

.achievements-page{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 0rem;
}

.achievement{
    margin: 0rem;
       background-image: linear-gradient(to bottom, #5800fa, #00b8ff);
        color: transparent;
        background-size: contain;
        background-clip: text;
        font-family: 'Times New Roman', Times, serif;
        font-size: 5rem; 
}

.div-line-achievement{
    display: flex;
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    padding-bottom: 3rem;
    
    
}

.div-line-achievement header{
    background-color: blue;
    font-size: large;
    width: 35rem;
    height: 2px;
}

.achievements-title{
    display: flex;
    justify-content: center;
    margin: 3rem;
    color: #5800fa;
    font-size: 3rem;
    font-weight: 500;
}

.achievement-Aboxes{
    padding-bottom: 4.5rem;
}

.box-achievement-container{
  border-radius: 16px;
  box-shadow: 0px 3px 2rem rgba(0, 0, 0, 0.15);
  border: 1px solid #f0f4f8;

}

.padding-purposes{
    padding-bottom: 3.5rem;
}

.pandemic-page{
  border-radius: 16px;
  box-shadow: 0px 3px 2rem rgba(0, 0, 0, 0.15);
  border: 1px solid #f0f4f8;
  padding-bottom: 4rem;
}

.performance-page{
  border-radius: 16px;
  box-shadow: 0px 3px 2rem rgba(0, 0, 0, 0.15);
  border: 1px solid #f0f4f8;
  padding-bottom: 3rem;
}

.first-achievement-container{
    padding-bottom: 5rem;
   
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 3.5rem;
    
    
}

.second-achievement-container{
    padding-bottom: 10rem;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 3.5rem;
}

.achievements-list-left{
    font-size: 1.3rem;

}

.achievements-list-left p{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 3px;
    
   
    
}

.achievements-list-left li{
     color: #474747;
}

.achievements-list-right img{
   width: 35rem;
   height: 35rem;
}

.achievements-page-pandemic-graduation-line{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.line-achivement-padnemic{
    background-image: linear-gradient(to bottom, #5800fa, #00b8ff);
     background-size: contain;
     width: 23rem;
     height: 2px;
}

.achievements-page-pandemic-graduation-line p{
   background-image: linear-gradient(to bottom, #5800fa, #00b8ff);
        color: transparent;
        background-size: contain;
        background-clip: text;
        font-size: 4rem;
        font-family: 'Times New Roman', Times, serif;
        padding-left: 1rem;
        padding-right: 1rem;
}

.pandemic-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pandemic-image img{
    width:70rem;
    height:35rem;
}



.achievements-page-performances-line{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.achievements-page-performances-line p{
   background-image: linear-gradient(to bottom, #5800fa, #00b8ff);
        color: transparent;
        background-size: contain;
        background-clip: text;
        font-size: 4rem;
        font-family: 'Times New Roman', Times, serif;
        padding-left: 10px;
        padding-right: 10px;
}

.line-achivement-Performances{
     background-image: linear-gradient(to bottom, #5800fa, #00b8ff);
     background-size: contain;
     width: 30rem;
     height: 2px;
}
    



.Performancess{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

.Performancess img{
    width: 60rem;
    height: 40rem;

}


