.achievement-container {
    width: 100%;
    margin: 0;
    padding: 0 8.5rem 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, sans-serif;
}

.achievements-page{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 0rem;
}

.achievement{
    margin: 0rem; 
}

.div-line-achievement{
    display: flex;
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    padding-bottom: 3rem;
    
    
}

.div-line-achievement header{
    background-color: blue;
    font-size: large;
    width: 35rem;
    height: 2px;
}

.achievements-title{
    display: flex;
    justify-content: center;
    margin: 3rem;

    font-size: 3rem;
}

.first-achievement-container{
    padding-bottom: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 3rem;
}

.second-achievement-container{
    padding-bottom: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 3rem;
}


